body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
  }
.encabezado {
    border: 2px solid black;
    background-color: black;
    width: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#titulo{
 text-align: center; color: white;

}

.imagen {
    display: block;
    width: 100vw;
    height: auto;

}

.boton {
    width: 100vw;
    border: 2px solid black;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgba(102, 51, 153, 0.37);
    color: ghostwhite

}
.caja{
    display: flex;
    justify-content: space-around;
}
.juegos{
    border: 2px solid rgba(102, 51, 153, 0.37);
 display: flex; 
 flex-direction: column;
 align-items: center;
 border-radius: 15%;
 width: fit-content;
 padding: 0px 0px 1em 0px;
}

.logo{
    width: 90%;
}
.juegos:hover{background-color: rgba(102, 51, 153, 0.37);
transition: 1s;}
h2{
    color: rgba(102, 51, 153)
}
.title {
    text-align: center;
}